# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
dla.bin
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
fast_dla.bin
fast_dla
fast_dla.log
cluster.geo
dla
dla_fast.dat
dla_fast_ts:10.dat
dla_fast_ts:10_s.dat
.vscode/tasks.json
papers/dla_particles_ts:5.dat
.vscode/tasks.json
cmds.txt
fast_dla.dbg
data/dla_mode_s_ts_10_nb_1000_seed_5_.dat
data/dla_mode_s_ts_10_nb_1000_seed_721881608_.dat
files/dla_mode_n_ts_1_nb_10000_seed_7_.dat
files/dla_mode_n_ts_1_nb_10000_seed_8_.dat
files/dla_mode_n_ts_1_nb_10000_seed_12_.dat
files/dla_mode_n_ts_1_nb_10000_seed_24_.dat
files/dla_mode_n_ts_1_nb_10000_seed_104_.dat
files/dla_mode_n_ts_10_nb_10000_seed_64_.dat
files/dla_mode_n_ts_10_nb_10000_seed_72_.dat
files/dla_mode_n_ts_10_nb_10000_seed_300_.dat
files/dla_mode_n_ts_100_nb_10000_seed_42_.dat
files/dla_mode_n_ts_100_nb_10000_seed_171_.dat
files/dla_mode_n_ts_1000_nb_10000_seed_842_.dat
files/dla_mode_n_ts_1000_nb_10000_seed_141_.dat
files/dla_mode_n_ts_10000_nb_10000_seed_66_.dat
files/dla_mode_n_ts_10000_nb_10000_seed_311_.dat
files/dla_mode_n_ts_10000_nb_10000_seed_400_.dat
files/dla_mode_s_ts_1_nb_10000_seed_37_.dat
files/dla_mode_s_ts_10_nb_10000_seed_315_.dat
files/dla_mode_s_ts_100_nb_10000_seed_302_.dat
files/dla_mode_s_ts_100_nb_10000_seed_666_.dat
files/particles/mode_n_ts_1_nb_10000_seed_8_.dat
files/particles/mode_n_ts_1_nb_10000_seed_104_.dat
files/particles/mode_n_ts_10_nb_10000_seed_64_.dat
files/particles/mode_n_ts_100_nb_10000_seed_42_.dat
files/particles/mode_n_ts_10_nb_10000_seed_300_.dat
files/particles/mode_n_ts_100_nb_10000_seed_171_.dat
fast_dla.dbg
mode_s_ts_1_nb_10000_seed_37_.dat
files/particles/mode_n_ts_1000_nb_10000_seed_141_.dat
files/particles/mode_n_ts_1000_nb_10000_seed_842_.dat
files/particles/mode_n_ts_10000_nb_10000_seed_66_.dat
files/particles/mode_n_ts_10000_nb_10000_seed_311_.dat
files/particles/mode_n_ts_10000_nb_10000_seed_400_.dat
files/particles/mode_s_ts_1_nb_10000_seed_37_.dat
files/particles/mode_s_ts_10_nb_10000_seed_315_.dat
files/particles/mode_s_ts_100_nb_10000_seed_302_.dat
files/particles/mode_s_ts_100_nb_10000_seed_666_.dat
img/mode_n_ts_1_nb_10000_seed_8__fractal.jpg
img/mode_n_ts_1_nb_10000_seed_8_.jpg
img/mode_n_ts_1_nb_10000_seed_104__fractal.jpg
img/mode_n_ts_1_nb_10000_seed_104_.jpg
img/mode_n_ts_10_nb_10000_seed_64__fractal.jpg
img/mode_n_ts_10_nb_10000_seed_64_.jpg
img/mode_n_ts_10_nb_10000_seed_300_.jpg
img/mode_n_ts_10_nb_10000_seed_300__fractal.jpg
img/mode_n_ts_100_nb_10000_seed_42_.jpg
img/mode_n_ts_100_nb_10000_seed_42__fractal.jpg
img/mode_n_ts_100_nb_10000_seed_171__fractal.jpg
img/mode_n_ts_100_nb_10000_seed_171_.jpg
img/mode_n_ts_1000_nb_10000_seed_141__fractal.jpg
img/mode_n_ts_1000_nb_10000_seed_141_.jpg
img/mode_n_ts_1000_nb_10000_seed_842__fractal.jpg
img/mode_n_ts_1000_nb_10000_seed_842_.jpg
img/mode_n_ts_10000_nb_10000_seed_66__fractal.jpg
img/mode_n_ts_10000_nb_10000_seed_66_.jpg
img/mode_n_ts_10000_nb_10000_seed_311__fractal.jpg
img/mode_n_ts_10000_nb_10000_seed_311_.jpg
img/mode_n_ts_10000_nb_10000_seed_400__fractal.jpg
img/mode_n_ts_10000_nb_10000_seed_400_.jpg
img/mode_s_ts_1_nb_10000_seed_37__fractal.jpg
img/mode_s_ts_1_nb_10000_seed_37_.jpg
img/mode_s_ts_10_nb_10000_seed_315__fractal.jpg
img/mode_s_ts_10_nb_10000_seed_315_.jpg
img/mode_s_ts_100_nb_10000_seed_302__fractal.jpg
img/mode_s_ts_100_nb_10000_seed_302_.jpg
img/mode_s_ts_100_nb_10000_seed_666__fractal.jpg
img/*.jpg
fast_dla.dbg
jshjhjd.ipynb
mode_s_ts_1_nb_10000_seed_37_.dat
dla_mode_s_ts_100_nb_10000_seed_666_.dat
dla_mode_s_ts_100_nb_10000_seed_302_.dat
dla_mode_s_ts_1_nb_10000_seed_37_.dat
dla_mode_s_ts_10_nb_10000_seed_315_.dat
dla_mode_n_ts_10000_nb_10000_seed_66_.dat
dla_mode_n_ts_1000_nb_10000_seed_141_.dat
dla_mode_n_ts_1000_nb_10000_seed_842_.dat
dla_mode_n_ts_100_nb_10000_seed_171_.dat
dla_mode_n_ts_10_nb_10000_seed_64_.dat
dla_mode_n_ts_1_nb_10000_seed_8_.dat
fast_dla.dbg
fast_dla.dbg
files/dla_mode_s_ts_1_nb_10000_seed_130_.dat
files/*.dat
.gitignore
files/n/*.dat
files/particles/*
.gitignore
files/data/teste.txt
cmd.txt
cmd.txt
cmd.txt
cmd2.txt
fast_dla_2d
fast_dla.dbg
fast_dla.dbg
cmd.txt
sansh.FCStd
testecad.txt
files/teste2d_1.txt
files/teste2d_2.txt
files/data/ teste.txt
fast_dla.dbg
